<h1>Room Комната <%= @room.id %></h1>

<%= link_to "Leave Покинуть", root_path %>

<p id="notice"><%= notice %></p>

<div class="messages">
  <div class="messages-inner" id="messages" data-room-id="<%= @room.id %>">
    <%= render @room.messages %>
  </div>
</div>